<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{% static "CJS\notice\addnotice.css" %}">
	<title>Add Notice</title>
</head>

<body>
	<span id="done">Notice has been added!</span>
	<div class="add-container">
        <form id="add_notice" method="post">
			{% csrf_token %}
		<div class="field-container">
			<input name='title-field' type="text" id="title-field" placeholder="Title">
			<textarea name="content" id="field-content" placeholder="Description"></textarea>
			<button id="add-btn" onclick= addDone() >Add</button>
		</div>
        </form>
		
	</div>
	<script>
		function addDone(){
			document.getElementById("done").style.display = "inline";
			setTimeout(function(){
			  document.getElementById("done").style.display = "none";
			}, 8000);
		  }
	</script>

</body>

</html>