<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	{% load static %}
	<link rel="stylesheet" href="{% static "CJS\notes\viewnotes.css" %}">
	<title>Notes</title>
</head>

<body>
	{% if context %}
	<!-- sem button -->
	<div class="select-container">
		<form id="filternotes" method='post' action={% url "filternotes" %} enctype="multipart/form-data">
			<div class="field-container">
				<div class="select-container">
					<select name="select-dept" id="dept">
						<option>select</option>
						<option value="BCA">BCA</option>
						<option value="MCA">MCA</option>
					</select>
					<select name="select-sem" id="sem">
						<option>select</option>
						<option value="Sem 1">Sem 1</option>
						<option value="Sem 2">Sem 2</option>
						<option value="Sem 3">Sem 3</option>
						<option value="Sem 4">Sem 4</option>
						<option value="Sem 5">Sem 5</option>
						<option value="Sem 6">Sem 6</option>
					</select>
					<button type="submit" id="filter-btn" onclick=filternotes>submit</button>
				</div>
			</div>
		</form>
	</div>





	<!-- Notes Area -->
	<div class="notes-container">
		{% for note in context %}
		<div class="notes">
			<span class="notes-head">{{note.title}}</span>
			<span class="notes-date">{{note.date}}</span>
			<p>{{note.content}}</p>
			<div class="notes-btn-container">
				{% if note.files %}
				<a href="{{ note.files.url }}" download><i class='bx bxs-download'></i>Download Resource</a>
				{% else %}
				<b>No resource available </b>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>

	{% else %}
	<b>No notes available</b>
	{% endif %}
</body>

</html>