{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "CJS\nav\nav-menu.css" %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% block head %}{% endblock head %}

</head>
<body>
    <nav> <span id="logo">StudySync </span> </nav>
    {% block content %}{% endblock content %}
    <!-- menu -->
    <section id="menu">
        <div id="home_icon" class="icon"><a href={% url "Admin Notes" %}> <i class='bx bxs-home'></i></a></i></div>
        <div id="viewnotic_icon" class="icon"><a href={% url "Admin Notice" %}><i class='bx bx-notepad' ></i></a></div>
        <div id="add_icon" class="icon"><a href={% url "Add" %}><i class='bx bx-message-alt-add'  ></i></a></div>
        <div id="add_icon" class="icon"><a href=""><i class='bx bx-user-circle'  ></i></a></div>
    </section>
</body>
</html>