@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	list-style: none;
}

body {
	background-color: #fffbfc;
}

body::-webkit-scrollbar {
	display: none;
}

/* ---- Notes Area ---- */

.notes-container {
	margin-top: 0px;
	width: 100%;
	padding: 0px 10px 90px 10px;
}

.notes {
	width: 100%;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.4) 0 1px 5px;
	border-left: 4px solid #dc143c;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	margin-bottom: 14px;
	background-color: #fff;
	word-wrap: break-word;
}

.notes span {
	display: block;
}

.notes-head {
	color: #1f1f1f;
	font-weight: 500;
	font-size: 16px;
	word-wrap: break-word;
}

.notes-date {
	color: #777777;
	font-size: 12px;
}

.notes p {
	font-size: 14px;
	text-align: justify;
	color: #161616;
	word-wrap: break-word;
}

.notes-btn-container {
	margin-top: 3px;
}

.notes-btn-container a {
	text-decoration: none;
	font-weight: 500;
	background-color: #dc143c;
	color: #fff;
	padding: 2px 6px;
	border-radius: 2px;
	display: inline-flex;
	align-items: center;
	gap: 4px;
	font-size: 14px;
}

.notes-btn-container {
	display: flex;
	justify-content: space-between;
}

.Delete {
	background-color: #dc143c;
	color: #fff;
	border: 1px solid #dc143c;
	border-radius: 4px;
	width: 30px;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#yesorno{
	width: 100%;
	height: 100vh;
	background-color: #000000a0;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.yesorno-box{
	width: 300px;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
}

.yesorno-box span{
	display: block;
	padding: 10px;
	text-align: center;
}

.yesorno-box i{
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
	font-size: 33px;
	color: #dc143c;
}

.yesorno-option{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.yesorno-option a{
	width: 50%;
	text-align: center;
	cursor: pointer;
}

#yes{
	background-color: #d4d4d4;
}

#no{
	background-color: #e4e4e4;
}


.select-container {
	width: 100%;
	margin-top: 25px;
	padding: 10px 5px;
	display: flex;
	gap: 8px;
	background-color: white;
	justify-content: start;
	
}

.field-container {
	width: 100%;
	height: 100%;
	display: flex;
/* background-color: blue; */
	align-items: start;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
}


.field-container input {

	width: 100%;
	padding: 10px;
	outline: none;
	border-radius: 6px;
	border: 2px solid #a1a1a1;
}



.field-container select {
	padding: 4px 8px;
	border: none;
	background-color: #dc143c;
	color: #fff;
	border-radius: 4px;
	font-weight: 500;
}



#filter-btn {
	padding: 4px 8px;
	border: none;
	border-radius: 4px;
	background-color: #dc143c;
	color: #fff;
	font-weight: 500;
}

#filter-btn:focus {
	background-color: #1f1f1f;
}